<div class="col-md-12 bg-dark py-2 px-5">
    <nav class="navbar navbar-dark px-5">
        <a href="/" class="navbar-brand ml-4" rel="noopener noreferrer">URL Shortner</a>

        <a href="mailto:amanverma5837@gmail.com" class="navbar-brand ml-4" rel="noopener noreferrer">📞: Contact
            Developer
        </a>

    </nav>
</div>